<div class="container-fluid">
    <div class="row bg-info">
        <div class="col-lg-12">
            <div class="d-flex align-items-center justify-content-between p-2 text-white">
                <div>
                    <h4 class="mb-0"><i class="fab fa-github"></i> mertefecerit | PCAT project</h4>
                </div>
                <div>
                    <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link text-white" href="/"><i class="fas fa-images"></i> Resimler</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white" href="/about"><i class="fas fa-user"></i> Hakkımda</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white" href="/add-photo"><i class="fas fa-image"></i> Resim Ekle</a>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>