<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="p-2 rounded my-2 bg-light shadow-sm border text-secondary">
                <h1 class="border-bottom"><i class="fas fa-user"></i> About Me</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, consequuntur?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint consectetur saepe omnis laborum dolorum reiciendis. Nihil deleniti vel alias id consequuntur ratione perspiciatis sequi unde hic iure, pariatur suscipit voluptatum nobis atque, a animi eum? Esse temporibus ratione sapiente, deleniti, odio cupiditate dignissimos magni dicta labore deserunt totam, ut quaerat?</p>

                <p class="fw-bold">Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, aliquam sequi? Ut facere deserunt vel, aspernatur optio in accusantium inventore minus asperiores consequuntur fuga autem!</p>
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis!</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                </ul>
                <hr>
                <h6 class="text-center">mert efe cerit</h6>
            </div>
        </div>
    </div>
</div>