<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 p-0">
          <img class="img-fluid" src="https://via.placeholder.com/1920x300" alt="placeholder-image">
        </div>
      </div>
    <div class="row">
        <% for( let index = 0; index < 11; index++ ) { %>
            <div class="col-lg-4">
                <div class="p-2 my-2 rounded bg-light shadow-sm border">
                    <a href="#">
                        <img class="img-fluid" src="https://via.placeholder.com/600x300" alt="">
                    </a>
                </div>
            </div>
        <% } %>
    </div>
</div>